html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: #ffd3d3;
}

* {
  box-sizing: border-box;
}

iframe {
  border: 0;
}

.container {
  max-width: 75rem;
  margin: auto;
}

.nav {
  border-bottom: 2px solid #000;
  margin-bottom: 2rem;
}

.nav-item {
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-weight: 700;
}

.nav-item:hover {
  background-color:  #000;
}

.nav-item:hover {
  color: #fff;
}

.instructions {
  font-size: 1.5rem;
  padding: 0 1rem 1rem 1rem;
}

.embed-video {
  margin: 2rem 0;
}

.videos-header {
  font-weight: 700;
  margin-top: 3rem;
}

.instructions li {
  margin-top: 0.5rem;
}

@media (max-width: 63rem) {
  .embed-video iframe {
    width: 300px;
    height: 200px;
  }
}